@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  background-color: hsl(234, 29%, 20%);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 5px;
  padding: 24px;
}

.app {
  display: flex;
  border-radius: 1em;
  padding: 1%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  .imgHiden {
    display: none;
  }
  .content-left {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    p {
      font-size: large;

      margin: 0 auto;
    }

    ul {
      width: 90%;
      margin: 0 auto;
    }
    li {
      list-style-type: none;
      font-size: 18;
      padding: 8px 0px;
      align-items: center;
      display: flex;

      img {
        padding-right: 20px;
      }
    }

    h1 {
      width: 90%;
      margin: 0 auto;
      font-size: 53px;
    }

    .divForInput {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      label {
        font-weight: bolder;
        padding-bottom: 10px;
      }

      .inputText,
      .inputButton {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        padding: 0 20px;
        border: 1px solid hsl(231, 7%, 60%);
      }

      .inputButton {
        background-color: hsl(234, 29%, 20%);
        color: hsl(0, 0%, 100%);
        padding: 0;
        margin-top: 20px;
        border: none;
      }

      .inputText:focus,
      .inputButton:focus {
        outline: 1px solid hsl(235, 18%, 26%);
      }

      .inputButton:active {
      }
    }
  }

  .content-right {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
}

.response {
  width: 450px;
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 53px;
  }

  p {
    margin: 20px 0;
  }

  strong {
    color: #1e3a8a;
  }

  input[type="button"] {
    width: 100%;
    height: 40px;
    font-weight: bolder;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to right, hsl(4, 100%, 67%), #ff8c57);
    border: none;
    margin: 20px 0;
    border-radius: 5px;
  }
}

@media (max-width: 681px) {
  body {
    background-color: #ffffff;
    padding: auto;
    height: 100vh;
  }

  .content {
    height: 100%;
    margin: 0;
  }
  .app {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0em;
    padding: 0%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

    .imgHiden {
      display: flex;
      margin: 0 auto;
    }

    .content-left {
      margin: 20px 10px 0px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 0px;

      .inputButton {
        margin-bottom: 40px;
      }
    }

    h1 {
      padding-left: 0px;
      padding-bottom: 30px;
      text-align: left;
      font-size: 30px;
    }

    p {
      font-size: medium;
      padding-bottom: 20px;
    }

    ul {
      padding-left: 0px;
    }

    li {
      list-style-type: none;
      font-size: 10;
      align-items: center;
      display: flex;

      img {
        padding-right: 20px;
      }
    }

    .content-right {
      display: none;
    }
  }

  .response {
    width: 100%;
  }
}
